<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gazebo_control" params="prefix">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>padwq_controller</robotNamespace>
            </plugin>
        </gazebo>

        <gazebo reference="base_link">
            <gravity>true</gravity>
            <sensor name="imu_sensor" type="imu">
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                    <topicName>padwq_imu/base_link</topicName>
                    <bodyName>imu</bodyName>
                    <updateRateHZ>15.0</updateRateHZ>
                    <gaussianNoise>0.0</gaussianNoise>
                    <xyzOffset>0 0 0</xyzOffset>
                    <rpyOffset>0 0 0</rpyOffset>
                    <frameName>base_link</frameName>
                    <initialOrientationAsReference>false</initialOrientationAsReference>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>

        <gazebo>
            <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
                <robotNamespace>padwq_gazebo</robotNamespace>
                <jointName>
                    ${prefix}fl_hip_roll,
                    ${prefix}fl_hip_pitch,
                    ${prefix}fl_knee_pitch,
                    ${prefix}fr_hip_roll,
                    ${prefix}fr_hip_pitch,
                    ${prefix}fr_knee_pitch,
                    ${prefix}rl_hip_roll,
                    ${prefix}rl_hip_pitch,
                    ${prefix}rl_knee_pitch,
                    ${prefix}rr_hip_roll,
                    ${prefix}rr_hip_pitch,
                    ${prefix}rr_knee_pitch
                </jointName>
                <updateRate>100</updateRate>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>
