<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="padwq">

    <xacro:arg name="prefix" default=""/>

    <!-- import materials -->
    <xacro:include filename="$(find padwq_description)/urdf/padwq.materials.xacro"/>

    <!-- import robot description -->
    <xacro:include filename="$(find padwq_description)/urdf/padwq.description.xacro"/>

    <!-- import gazebo description -->
    <xacro:include filename="$(find padwq_description)/urdf/gazebo.xacro"/>

    <!-- import ros2_control description -->
    <xacro:include filename="$(find padwq_description)/urdf/padwq.ros2_control.xacro"/>

    <xacro:padwq prefix="$(arg prefix)"/>
    <xacro:gazebo prefix="$(arg prefix)"/>
    <xacro:padwq_ros2_control name="padwq" prefix="$(arg prefix)"/>

</robot>
